*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.DS_Store
dotnet/packages/
dotnet/UnitTests/obj/
dotnet/CatalogAPI/obj/
dotnet/UnitTests/bin/Debug/Newtonsoft.Json.xml
dotnet/UnitTests/bin/
dotnet/CatalogAPI/bin/
