<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
	<appSettings>
		
		<!--
		
				Catalog API Settings
		
				Below are where the Catalog API development or production url's and keys
			  should be stored. Replace all instances of [subdomain] with the name of your 
				sub domain as given to your by your Catalog API rep.
				
				Refer to your Catalog API documentation by signing in to http://[subdomain].catalogapi.com
				
				If referencing this project from an ASP.NET webforms or MVC project, these should be placed
				in the corresponing <appSettings> section of your web.config. It is recommended to use 
				config transforms to switch between development and production keys: 
				see https://msdn.microsoft.com/en-us/library/vstudio/dd465318(v=vs.100).aspx

				
		-->
		
		<add key="CatalogApiUrl" value="https://[subdomain].dev.catalogapi.com/v1/rest/"/>
		<add key="CatalogApiKey" value="your-dev-key"/>
		<add key="CatalogApiSocket" value="100"/>
		<add key="CatalogApiOrderPlaceUrl" value="https://[subdomain].dev.catalogapi.com/v1/json/order_place/"/>
		
	</appSettings>
</configuration>